@import url("https://fonts.googleapis.com/css?family=Exo:400,700");
body {
  background: #4e54c8;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  margin: 0;
}
.container {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 500px;
}
.placement {
  width: 470px;
  height: 470px;
}
.app {
  box-shadow: 20px 10px 10px #171c7a;
  justify-content: center;
  align-content: center;
  display: grid;
  width: 470px;
  height: 470px;
  grid-template-columns: 22% 22% 22% 22%;
  grid-template-rows: 22% 22% 22% 22%;
  border-radius: 4px;
  gap: 10px;
  background: #789395;
}

.box {
  background: #94b49f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 55px;
  font-weight: bold;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  color: #666444;
}

/* GAMEOVER */
.gameover {
  z-index: 10;
  position: absolute;
  left: 2;
  right: 5;
  top: 22.8%;
  width: 470px;
  height: 470px;
  text-align: center;
  background-color: rgba(245, 245, 220, 0.664);
  visibility: hidden;
}
.gameovervisible {
  visibility: visible;
}

#Fin {
  font-size: 60px;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  margin-top: 180px;
  color: #776e65;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.retry2,
.retry1,
.continuer {
  text-align: center;
  display: inline-block;
  background: #8f7a66;
  border-radius: 3px;
  padding-left: 0 20px;
  text-decoration: none;
  color: #f9f6f2;
  height: 40px;
  margin-left: 9px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  cursor: pointer;
}

/* WIN */

.gagner {
  z-index: 10;
  position: absolute;
  left: 2;
  right: 5;
  top: 22.8%;
  width: 470px;
  height: 470px;
  text-align: center;
  margin: 0 auto;
  background-color: rgba(237, 194, 46, 0.5);
  visibility: hidden;
}
.gagnervisible {
  visibility: visible;
}

#win {
  font-size: 60px;
  font-weight: bold;
  color: white;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

h1 {
  text-shadow: 10px 5px 5px #171c7a;
  padding-top: 20px;
  color: #c7af4e;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  display: block;
  font-size: 80px;
  font-weight: bold;
}
h2 {
  font-weight: lighter;
  color: #c7af4e;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.65;
}
#regle {
  font-weight: lighter;
  color: #c7af4e;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.65;
}

#monBtn {
  box-shadow: 10px 5px 5px #171c7a;
  height: 58px;
  width: 58px;
  border-radius: 5px;
  background: #c7af4e;
  border-bottom: 5px solid #171c7a;
  text-shadow: 0px -2px #171c7a;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition-duration: 0.5s;
}
#monBtn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  border-bottom: 1px solid;
}
#monBtn:hover {
  background-color: #decebf;
}
.material-icons {
  color: white;
  font-size: 40px;
  vertical-align: middle;
  text-align: left;
}
.retry {
  margin-right: 35px;
  margin-top: 35px;
}
.titre {
  display: flex;
  justify-content: space-between;
}
#score-container {
  color: #faf8ef;
  box-shadow: 10px 5px 5px #171c7a;
  background: #c7af4e;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  margin-top: 35px;
  font-size: 23px;
  border-radius: 5px;
  text-align: center;
  width: 90px;
  height: 58px;
}
.area {
  position: absolute;
  /* background: #4e54c8;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8); */
  width: 100%;
  height: 120%;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

/* .pseudo {
  text-align: center;
  position: absolute;
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 0, 0.322);
}

.formpseudo {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-53%, -50%);
  border-radius: 8px;
  width: 470px;
  height: 200px;
  background: #87614a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.saisir {
  font-size: 25px;
  font-weight: bold;
  color: white;
  font-family: "Helvetica Neue", Arial, sans-serif;
  padding-bottom: 20px;
}

.champpseudo {
  width: 150px;
  height: 20px;
  border-radius: 8px;
} */
